.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  align-items: center;
  font-weight: 700;
  top: 0;
  left: 0;
  overflow-y: hidden;
  box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
  background-color: white;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  color: #545454;
}

.nav-items > ul > li {
  padding: 10px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  padding: 10px;
  margin-top: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.search-input {
  width: 30rem;
  box-sizing: border-box;
  border: 1px solid #aabcca;
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 15px;
  font-size: large;
  font-weight: 500;
}
.search-btn {
  background-color: #c26100;
  color: white;
  cursor: pointer;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 22px;
}
.res-logo {
  width: 100%;
  height: 200px;
}
.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 12px;
  width: 250px;
}
/* On mouse-over, add a deeper shadow */
.restaurant-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.restaurant-meta-info {
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.restaurant-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  overflow: hidden;
  width: 100%;
  color: rgba(2, 6, 12, 0.75);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant-cuisine {
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: -0.3px;
  overflow: hidden;
  width: 100%;
  color: rgba(2, 6, 12, 0.6);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant-sub-menu-rating {
  display: grid;
  align-items: center;
  margin-top: 2px;
  gap: 2px;
  grid-auto-flow: column;
  justify-content: start;
}
.restaurant-ratings {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.3px;
  overflow: hidden;
  width: 100%;
  color: rgba(2, 6, 12, 0.75);
}
.restaurant-locality {
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: -0.3px;
  overflow: hidden;
  width: 100%;
  color: rgba(2, 6, 12, 0.6);
}
.filter-btn {
  cursor: pointer;
  margin: 4px;
}
